:root {
  --cor-de-fundo-1: #f5f5f5;
  --cor-de-fundo-2: #eaf2fd;
  --cor-de-link: #000;
  --cor-de-fonte: #464646;
  --cor-azul-1: #2a7ae4;
  --cor-azul-2: #5595e9;
  --cor-azul-3: #d4e4fa;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  color: var(--cor-de-fonte);
  font-family: "Raleway";
  line-height: 1;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--cor-de-fonte);
}

p {
  padding: 0;
  text-align: center;
}

/*Sessão Menu*/

header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.menu__vector {
  width: 1.5rem;
  height: 1.5rem;
}
.menu__title {
  font-size: 1rem;
  white-space: nowrap;
}

.menu__list__item {
  font-size: 1rem;
}

.menu {
  background-color: var(--cor-de-fundo-1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.menu_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu__list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  white-space: nowrap;
}

.menu__list__item a[href="#contato"] {
  font-weight: bold;
}

/*Sessão Title*/

.title__profile {
  width: 23rem;
  height: 23rem;
  border-radius: 50%;
}
.title {
  padding: 5%;
  background-color: var(--cor-de-fundo-1);
}
.title__div {
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  gap: 1.063rem;
  justify-content: center;
  align-items: center;
}

.title__bio {
  font-weight: 700;
  font-size: 3.25rem;
  color: var(--cor-de-fonte);
  margin-bottom: 8px;
}

.title__subsection {
  font-size: 16px;
  font-weight: 400;
  color: var(--cor-de-fonte);
  margin-bottom: 8px;
}

.title__network {
  gap: 2rem;
  display: flex;
}

.title__network__item {
  display: flex;
  font-size: 1rem;
  font-weight: 500;
  color: var(--cor-de-fonte);
}

/*Sessão About*/

.about {
  padding: 5%;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--cor-de-fundo-2);
  position: relative;
  z-index: 2;
}

.about__title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--cor-de-fonte);
}

.about__paragraph {
  font-size: 1rem;
  color: var(--cor-de-fonte);
  text-align: justify;
}

.signature {
  width: 8.75rem;
  height: 3.25rem;
}
.about__container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/*Sessão Skills e Hobbies*/

.skills {
  padding: 5%;
  font-size: 2rem;
  font-weight: bold;
  color: var(--cor-de-fonte);
  background-color: var(--cor-de-fundo-1);
  position: relative;
  z-index: 1;
}

.skills h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.skills__line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.skills__box {
  background-color: #ffffff;
  width: 11rem;
  height: 10.875rem;
  display: flex;
  flex-direction: column-reverse;
}

.skills__box ul {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.skills__box li img {
  height: 2.313rem;
}

.skills__name {
  font-size: 1rem;
  font-weight: bold;
}

.hobbies {
  padding: 5%;
  font-size: 2rem;
  font-weight: bold;
  color: var(--cor-de-fonte);
  background-color: var(--cor-de-fundo-1);
}

.hobbies h3 {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.hobbies__line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}

.hobbies__box {
  background-color: #ffffff;
  width: 11rem;
  height: 10.875rem;
  display: flex;
  flex-direction: column-reverse;
}

.hobbies__box ul {
  padding: 0;
  margin: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.hobbies__box li img {
  height: 2.313rem;
}

.hobbies__name {
  font-size: 1rem;
  font-weight: bold;
}

/* Experiência Acadêmica*/
.academic {
  background-color: var(--cor-de-fundo-2);
  color: var(--cor-de-fonte);
  display: flex;
  flex-direction: column;
  padding: 10%;
}
.academic__title {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.academic__courses__item__title h4 {
  font-size: 1.375rem;
  font-weight: bold;
  margin-bottom: 8px;
  margin-top: 8px;
  white-space: nowrap;
}

.academic__courses__item__subtitle p {
  text-align: justify;
}

.academic__courses__item__subtitle li {
  font-size: 1rem;
  font-weight: 500;
}

.academic__courses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.academic__courses__box {
  width: 23rem;
  height: 17.875rem;
}

.academic__courses__item__img {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 368px;
  height: 286px;
}

.academic__courses__item__img img {
  width: 12rem;
  height: 8.125rem;
}

/* experiência*/

.experience {
  color: var(--cor-de-fonte);
  background-color: var(--cor-de-fundo-1);
}

.experience__img {
  width: 47rem;
  height: 25.375rem;
}

.experience__img:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

.experiencie__box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 4rem;
}
.experience__section__title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 2rem;
  padding-bottom: 1.375rem;
}

.experience__info {
  font-size: 1.375rem;
  font-weight: bold;
}

.experience__text {
  font-size: 1rem;
  font-weight: 500;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.experiencia__botao--repo {
  font-size: 1rem;
  color: var(--cor-azul-1);
  width: 7.25rem;
  height: 3.188rem;
  background-color: var(--cor-de-fundo-1);
  font-family: "Raleway";
  border: var(--cor-azul-1) 1px solid;
  cursor: pointer;
}

.experiencia__botao--demo {
  font-size: 1rem;
  color: var(--cor-de-fundo-1);
  width: 7.25rem;
  height: 3.188rem;
  background-color: var(--cor-azul-2);
  font-family: "Raleway";
  border: none;
  cursor: pointer;
}
.experiencia__botao--demo:hover,
.experiencia__botao--repo:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--cor-azul-2);
}
.experiencia__botao--repo:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--cor-azul-3);
}

.experience__description {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/*Contato*/

.formcontato {
  max-width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--cor-de-fundo-2);
  padding: 5%;
}

.formcontato__contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
}

.formcontato__img {
  width: 100%;
  height: auto;
  max-width: 29rem; /* Limite máximo de largura */
  max-height: 37.063rem; /* Limite máximo de altura */
  display: block;
}

.formcontato--esquerda {
  padding: 10px;
  overflow: hidden;
  flex: 1;
}

.formcontato__title {
  font-size: 2rem;
  color: var(--cor-de-fonte);
  margin-bottom: 0.5rem;
}

.formcontato__subtext {
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
  margin-bottom: 2rem;
  margin-top: 0;
}

.formcontato__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.formcontato__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  flex: 1;
}

.formcontato__input {
  width: 100%;
  max-width: 41rem;
  height: 3.5rem;
  font-size: 0.75rem;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-left: 0.75rem;
  box-sizing: border-box;
}

#assunto {
  padding-top: 0px;
  padding-left: 0.75rem;
}

.formcontato__textarea {
  width: 100%;
  max-width: 41rem;
  height: 8.313rem;
  font-size: 0.75rem;
  color: var(--cor-de-fonte);
  font-family: "Raleway";
  border: none;
  resize: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.75rem;
  box-sizing: border-box;
  resize: vertical;
}

#email::placeholder {
  color: var(--cor-azul-1);
}

.formcontato__botao {
  font-size: 1rem;
  color: var(--cor-de-fundo-1);
  width: 10.313rem;
  height: 3.188rem;
  background-color: var(--cor-azul-1);
  font-family: "Raleway";
  border: none;
  cursor: pointer;
}
.formcontato__botao:hover {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--cor-azul-2);
}

/*footeer*/

.footer {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2%;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: var(--cor-azul-1);
  color: #ffffff;
  margin: auto;
  padding: 20px;
  width: 80%;
  max-width: 300px;
  text-align: center;
}

.close {
  color: #000;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

/*Tablet*/
@media (max-width: 768px) {
  .img {
    width: 100%;
  }

  .menu__list .menu__list__item:nth-child(1),
  .menu__list .menu__list__item:nth-child(2),
  .menu__list .menu__list__item:nth-child(3),
  .menu__list .menu__list__item:nth-child(4),
  .menu__list .menu__list__item:nth-child(5) {
    display: none;
  }

  .academic__courses__item__img {
    width: auto; /* Ajusta a largura para o tamanho adequado */
    height: auto; /* Ajusta a altura automaticamente */
  }

  .academic__courses {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }

  .formcontato--esquerda {
    display: none;
  }

  .skills__box,
  .hobbies__box {
    width: 224px;
    height: 118px;
  }

  .skills__line,
  .hobbies__line {
    display: grid; /* Retorna ao layout de grade */
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    gap: 16px;
  }

  .formcontato--esquerda,
  .formcontato__text {
    flex: 1 1 100%;
  }

  .academic__courses {
    flex-direction: column;
  }

  .experiencie__box {
    flex-direction: column;
  }
}
/*Mobile*/
@media (max-width: 425px) {
  .img {
    width: auto;
  }

  .title__div {
    flex-direction: column;
    align-items: flex-start;
  }

  .title__profile {
    width: 98px;
    height: 98px;
    padding: 0;
  }

  .title__bio,
  .about__title,
  .skills__title,
  .hobbies__title,
  .academic__title,
  .experience__section__title,
  .formcontato__title {
    font-size: 22px;
  }

  .menu__list .menu__list__item:nth-child(1),
  .menu__list .menu__list__item:nth-child(2),
  .menu__list .menu__list__item:nth-child(3),
  .menu__list .menu__list__item:nth-child(4),
  .menu__list .menu__list__item:nth-child(5) {
    display: none;
  }
  .menu {
    justify-content: space-around;
  }

  .skills__box,
  .hobbies__box {
    width: 156px;
    height: 118px;
  }

  .skills__line,
  .hobbies__line {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }

  .academic__courses__item__img img {
    height: 118px;
  }

  .academic__courses__item__img {
    width: 296px;
    height: 118px;
  }

  .experiencie__box {
    flex-direction: column;
  }
  .formcontato--esquerda {
    display: none;
  }
}
